<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style/index.css" media="screen">
    <link rel="stylesheet" href="stylemob/indexmob.css" media="screen and (max-device-width: 500px)">
</head>
<body>
    <%- include('partials/header'); -%>
    <%- include('partials/subheader'); -%>

<section class="products">
    <% for(var i in ProductListArr) { %>
       <div class="product_container">
            <img src="<%=ProductListArr[i].Paths[0].path%>" alt="" class="productimage">            
            <div class="desc">
               <a href="/productview?id=<%=ProductListArr[i]._id%>" class="product-title-link"><h2 class="producttitle"><%=ProductListArr[i].ProductName%></h2></a> 
                <h3 class="productprice">Price: ₹ <%=Number(ProductListArr[i].ProductPrice).toLocaleString('en-IN')%> </h3>
            </div>
        </div>
<%  }%>

   </section>
    
</body>
<script src="../script/logout.js"></script>
</html>